@model ContosoUniversity.Models.ProfileMeta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfileMeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfileDetail.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileDetail.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileDetailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileDetailID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
